body
{
	padding:0;
	margin:0;
	color:#000;
	font-family: arial, sans-Serif;
	font-size: 13px;
}

#mainBody 
{
	width: 310px;
	position: relative;
	margin: 70px auto;
	padding-top: 7px;
}


#inputArea
{
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	background-color: #d6e5f4;
	padding: 10px;
	width:310px;
}

#inputArea input, 
#inputArea textarea,
#inputArea select
{
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	width: 300px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	background-color: #ffffff;
	border: solid 1px #33677F;
	overflow: hidden;
}


#inputArea input.submit 
{
	font-family: Arial, Sans-Serif;
	font-size: 15px;
	display: block;
	width: 100px;
	color: #fff;
	background-color: #5384c6;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}


#inputArea input.submit:hover 
{
	position: relative;
	top: 1px;
	left: 1px;
	background-color: #f00;
}



#inputArea span
{
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	display: block;
	margin-top: -2px;
	padding-bottom: 20px;
	width: 300px;
	color: #f50213;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box
}

.user
{
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	display: block;
	color: #5384c6; 
	width: 200px;
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}




#accountArea
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	background-color: #000;
	width:492px;
}


#accountArea div
{
	float: left;
	width: 164px;
	margin: 0px;
	display: block;
	overflow: hidden;
}

#accountArea a,
#accountArea img
{
	margin-left:auto;
	marign-right:auto;
	outline: 0;
	border: none;
}

#accountArea a:hover 
{
	position: relative;
	top: 3px;
	left: 5px;
}




::selection {
    background-color: transparent;
}
