body {
  padding:0;
  margin:0;
  font-size: 12px;
  font-family: arial, sans-serif;  
  color:#000;
}

.mainbody {
    width: 960px;
    position: relative;
    margin: 60px auto;  
}

#content img{
	padding: 5px;
	margin-top: 1px;
	border: 1px solid #147ae6;
}

.thumbs {
	float:left;
	width: 220px;
}

#center {
	float: left;
	width: 520px;
}

#center img{
	display: none;
}

#center a {
	width: 100px;
    color: #fff;
    height: 30px;
    background: #147ee1;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 18px 10px 0px 0px;
}

#center a:hover {
	background: #fe0000;
}

#next {
	float: right;
}

img#active_img {
	display: inline;
}
